@import '@/styles/vars';

.chat_page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: $gray;
  text-decoration: underline;
}
