@import '@/styles/vars.scss';

.auth_layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 15px;

  .logo {
    max-width: 300px;
    width: 100%;
  }
  .title {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 600;
    line-height: 60px;
    color: $black;
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
  }
}
