@import '@/styles/vars.scss';

.password_input {
  &_input {
    height: 45px !important;
    border-radius: 10px !important;
  }
  &_visibility_toggle {
    background: transparent !important;
    border-radius: 10px !important;
  }
}
